@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --bg-chat-color: #f9f5eb;
    --bg-home-color: #f9f5eb;
    --btn-green-color: #27ae60;
    --btn-green-light-color: #2ecc71;
    --btn-standar-color: #546c94;
    --btn-standar-light-color: #607eaa;
    --btn-leavechat-color: #b84423;
    --btn-leavechat-light-color: #d1512d;
    --msg-recive-color: #f5ccc2;
    --msg-send-color: rgb(194, 243, 194);

}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-home-color);
    min-height: 100vh;
}

.login__container__form {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login__container>* {
    margin-bottom: 10px;
}

.login__header {
    margin-bottom: 30px;
}

.login__input {
    width: 90%;
    height: 40px;
    max-width: 500px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

.login__photo_container {
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;

    & p {
        font-family: 'Poppins', sans-serif;
        color: grey
    }

    & .login__image__div {
        text-align: center;
    }
}

.login__input_photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.login__input_photo_edit_icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #607eaa;
    color: #f9f5eb;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login__input_photo_delete_icon {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #607eaa;
    color: #f9f5eb;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login__input_photo_input {
    display: none;
}


.login__btn {
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 24px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--btn-standar-light-color);
    color: var(--bg-home-color);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: var(--btn-standar-color);
    }

    &:active {
        transform: scale(0.98);
    }
}

.login__container__error {
    color: red;
}

.login__container__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    & a {
        padding-top: 10px;
    }
}

.signup__input {
    width: 90%;
    height: 40px;
    max-width: 500px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid grey;

}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-home-color);
    min-height: 100vh;
}

.home__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    max-width: 1440px;
}

.home__header__icone {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
}

.home__header__buttons {
    align-content: center;

    & button {
        margin-right: 10px;
    }

    & button:last-child {
        margin-right: 0;
    }
}

/* Edit Profile Button */
.home__menu__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* height: 48px; */
    padding: 0 24px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--btn-standar-light-color);
    color: var(--bg-home-color);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;

    &:hover {
        background-color: var(--btn-standar-color);
    }

    &:active {
        transform: scale(0.98);
    }

}

.chat {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    @media only screen and (max-width : 740px) {
        display: flex;
        flex-direction: column;
        height: 100vh;

    }
}

.chat__sidebar {
    height: 100%;
    background-color: var(--bg-chat-color);
    flex: 0.5;
    padding: 20px;
    border-right: 1px solid #fdfdfd;

    @media only screen and (max-width : 740px) {
        width: 100%;
        /* height: 100vh; */
        height: auto;
        /* max-height: 50%; */
        flex-direction: column;
    }
}

.chat__main {
    height: 100%;
    flex: 0.8;

    @media only screen and (max-width : 740px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
    }
}

.chat__header {
    margin: 30px 0 20px 0;
}

.chat__users>* {
    margin-bottom: 10px;
    color: #607eaa;
    font-size: 14px;
}

.online__users>* {
    margin-bottom: 10px;
    color: rgb(238, 102, 102);
    font-style: italic;
}

.chat__mainHeader {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--bg-chat-color);

    @media only screen and (max-width : 740px) {
        height: 10%;
        padding: 5px;
        /* Ajouter cette ligne */
    }
}

.leaveChat__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 80px;
    padding: 0 24px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--btn-leavechat-light-color);
    color: #eae3d2;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: var(--btn-leavechat-color);
    }

    &:active {
        transform: scale(0.98);
    }
}


.message__container {
    width: 100%;
    height: 80vh;
    background-color: #fff;
    padding: 20px;
    overflow-y: scroll;

    @media only screen and (max-width : 740px) {
        height: 10vh;
        flex-grow: 1;
    }
}

.message__container>* {
    margin-bottom: 10px;
}

.chat__footer {
    padding: 10px;
    background-color: var(--bg-chat-color);
    height: 10vh;

    @media only screen and (max-width : 740px) {
        height: 10%;
        min-height: 50px;
        padding: 5px;
        /* Modifier cette ligne */
    }
}

.chat__footer.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    padding: 15px;
}

.sendBtn {
    width: 140px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 40px;
    padding: 0 24px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--btn-standar-light-color);
    color: #eae3d2;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: var(--btn-standar-color);
    }

    &:active {
        transform: scale(0.98);
    }
}

.message__recipient {
    background-color: var(--msg-recive-color);
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.message__sender {
    background-color: var(--msg-send-color);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
}

.message__chats>p {
    font-size: 13px;
}

.sender__name {
    text-align: right;
}

.message__status {
    position: fixed;
    bottom: 50px;
    font-size: 13px;
    font-style: italic;
}

.chat__usercard {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease;


    /* ajouter cette ligne */

    @media only screen and (max-width : 740px) {
        max-height: 60px;
        padding: 5px;
    }
}

.chat__usercard__image {
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    margin-right: 10px;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}


.chat__usercard__userdata {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height: auto;
}

.chat__healthbar {
    width: 100%;
    /* margin-top: 200px; */
    display: flex;
    align-items: center;
    gap: 20px;

}


.progress-bar {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #e6e6e6;
    /* margin-bottom: 10px; */


}

.progress-bar-fill {
    height: 100%;
    border-radius: 10px;
    background-color: #2ecc71;
    transition: width 0.5s ease-out;
}

.progress-label {
    /* margin-top: 10px; */
    font-size: 24px;
    font-weight: bold;
    color: #444444;

}